@model JJTube.Models.LoginViewModel

@{
    ViewBag.Title = "Login";
}



@Html.AntiForgeryToken()
@using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-signin", style = "max-width:360px;max-height:560px;margin:0 auto" }))
{
    <h2>Login</h2>
    <div class="form-group">
        @Html.LabelFor(m => m.Username)
        @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Username, "Don't forget the username")
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Password)
        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Password, "Don't forget the password")
    </div>

    <input class="btn btn-primary form-control" type="submit" value="Login"/>
    <hr />
    
    @Html.ActionLink("Register New User","Register" ,new{@class="form-control"})
}

